<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <title>spaCy entity parsing</title>
    </head>

    <body>
        <h1>spaCy entity parsing</h1>
        <p>All entities seen so far:</p>
        <table>
            <thead>
                <th>Entity</th>
                <th>Class</th>
            </thead>

            <tbody>      
            {% for entity, class in data %}
                <tr>
                    <td>{{ entity }}</td>
                    <td>{{ class }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table> 
    <p><a href="/">form</a></p>
    </body>
</html>